<% if @tutor.errors.any? %>
  <h3>Please correct the following errors:</h3>
  <ul>
    <% @tutor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @tutor do |f| %>

  <%= f.label :name %> <br>
  <%= f.text_field :name %>
  <br>

  <%= f.label :subject %> <br>
  <%= f.text_field :subject %>
  <br>

  <%= f.label :bio %> <br>
  <%= f.text_area :bio %>
  <br>

  <%= f.label :email %> <br>
  <%= f.email_field :email %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
