<h1> Tutors </h1>
<% if current_user.admin %>
  <button id ="click-me"> Quick View Tutor Requests </button>
    <div id="selected-tutor"></div>
  <%= button_to "Add a New Tutor", new_tutor_path, method: :get %>
    <ul>
      <% @tutors.each do |tutor| %>
        <li><%= link_to "#{tutor.name}", tutor_path(tutor.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <p> Click on a name to view that tutor's profile. </p>
      <ul>
        <% @tutors.each do |tutor| %>
          <li><%= link_to "#{tutor.name}", tutor_path(tutor.id) %></li>
        <% end %>
      </ul>
<% end %>

<p>View Tutors by Gender:</p>

<%= form_tag(tutors_path, method: :get) do %>
  Female <%= check_box_tag "tutor[methods][]", "female" %>
  Male <%= check_box_tag "tutor[methods][]", "male"  %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<p><%= link_to "View Subjects", root_url %></p>
<p><%= link_to "View All Tutors", tutors_path %></p>
