<h1> <%= @tutor.name %> </h1>

<h3> Subject Focus: <%= @tutor.subject %> </h3>
<h4> More about <%= @tutor.name %>: </h4>
<p> <%= @tutor.bio %> </p>

<h4> Contact: <%= @tutor.email %> </h4>


<% if current_user.admin %>
  <p><%= link_to "Edit Tutor", edit_tutor_path(@tutor) %></p>
  <p><%= link_to "Delete Tutor", tutor_path(@tutor), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
<% else %>
  <%= form_tag("/subjects", method: "post") do %>
    <%= hidden_field_tag :tutor_id, @tutor.id %>
    <%= button_tag "Request Tutoring" %>
  <% end %>
<% end %>
<br>
<br>

<%= link_to "View Subjects", subjects_path %>
<%= link_to "View Tutors", tutors_path %>
