<h1>Your Profile</h1>
<p> Username: <%= @user.username %> </p>
<p> Name: <%= @user.first_name %> <%= @user.last_name %> </p>
<p> Student Name: <%= @user.student_name %> </p>
<p> Student Grade: <%= @user.student_grade %> </p>
<p> Contact Info: <%= @user.email %> </p>


<%= link_to "Edit Account Settings", edit_user_registration_path %>
<%= link_to "View Subjects", subjects_path %>
<%= link_to "View Tutors", tutors_path %>
