<h1> Welcome to the Tutoring App! </h1>
<h3> A place where you can find tutoring help for your student in a variety of school subjects. </h3>

<% if user_signed_in? %>
<div> <h2> Subject Areas: </h2>
  <ul>
    <li><%= link_to "English", subject_path("English") %></li>
    <li><%= link_to "Languages", subject_path("Languages")%></li>
    <li><%= link_to"Geography", subject_path("Geography") %></li>
    <li><%= link_to "Government", subject_path("Government") %></li>
    <li><%= link_to "History", subject_path("History") %></li>
    <li><%= link_to "Math", subject_path("Math") %></li>
    <li><%= link_to "Science", subject_path("Science") %></li>
    <li><%= link_to "Technology", subject_path("Technology") %></li>
  </ul>
</div>
<% end %>

<% if user_signed_in? %>
<h3> Hello, <%= current_user.name %>! What would you like to do? </h3>
  <p><%= link_to "View Your Tutor Requests", user_subjects_path(@user), action: :index %></p>
  <p><%= link_to "View All Tutors", tutors_path %></p>
<% end %>
<% if user_signed_in? && current_user.admin %>
  <p><%= link_to "View Current Users", users_path %></p>
<% end %>
